{% extends "base/base.html" %} {% block head %}
<style>
  .login_container {
    margin-top: 200px;
    margin-bottom: 100px;
    height: 550px;
    width: 500px;
    border: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(4px);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), 0 0 15px rgba(0, 0, 0, 0.2),
      0 0 30px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-left: 32%;
  }

  .form-box {
    display: flex;
  }

  .form-box .LoginForm {
    position: absolute;
    transform: translateX(0px) rotate(0deg);
    transition: 0.5s ease;
    transition-delay: 0.4s;
  }

  .form-box .LoginForm.active {
    /* position:absolute; */
    transform: translateX(-450px) rotate(-45deg);
    transition-delay: 0.2s;
  }

  .form-box .RegisterForm {
    transform: translateX(450px) rotate(60deg);
    transition: 0.5s ease;
    transition-delay: 0.2s;
  }

  .form-box .RegisterForm.active {
    transform: translateX(0px) rotate(0deg);
    transition-delay: 0.4s;
  }

  .container .form-box h2 {
    text-align: center;
    font-size: 38px;
    letter-spacing: 1px;
    font-weight: 600;
  }

  .form-box .input-box {
    margin: 35px 0;
    width: 330px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.4);
    position: relative;
  }

  .form-box .input-box input {
    background: transparent;
    border: none;
    outline: none;
    width: 100%;
    height: 40px;
    padding: 0 35px 0 5px;
  }

  .form-box .input-box label {
    font-weight: 400;
    letter-spacing: 0.5px;
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 15px;
    transition: 0.5s ease;
  }

  .input-box input:focus ~ label,
  .input-box input:valid ~ label {
    top: -5px;
  }

  .input-box i {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
  }

  .forget-section {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin: -15px 0 15px;
  }

  .forget-section p {
    display: flex;
    align-items: center;
  }

  .forget-section p input {
    accent-color: #11595d;
    margin: 0 3px;
  }

  .forget-section a {
    text-decoration: none;
  }

  .acc_btn {
    height: 45px;
    width: 100%;
    border-radius: 50px;
    color: #fff;
    background: #11595d;
    border: 2px solid #0c4345;
    outline: none;
    font-size: 16px;
    cursor: pointer;
    letter-spacing: 1px;
  }

  .account-creation {
    text-align: center;
    margin: 20px 0 10px;
    font-weight: 400;
    font-size: 14px;
  }

  .account-creation span a {
    text-decoration: none;
  }

  .account-creation a:hover {
    text-decoration: underline;
  }

  /* RESPONSIVE */
  @media (max-width: 365px) {
    .container {
      height: 420px;
      width: 280px;
    }

    .container .form-box h2 {
      font-size: 24px;
    }

    .form-box .input-box {
      margin: 25px 0;
      width: 220px;
    }

    .form-box .input-box label {
      font-size: 10px;
    }

    .form-box .input-box i {
      font-size: 13px;
    }

    .forget-section {
      font-size: 10px;
    }

    .forget-section p input {
      font-size: 10px;
    }

    .acc_btn {
      height: 30px;
      width: 100%;
      font-size: 11px;
    }

    .account-creation {
      font-size: 11px;
    }


  }
</style>
{% endblock head %} 
{% block body %}
<div class="login_container">
  <div class="form-box">
    <!-- Login Form -->
    <form class="LoginForm" method="POST" action="{% url 'login' %}">
      {% csrf_token %}
      {% include "base/alert.html" %}
      <h2>Login</h2>
      <div class="input-box">
        <input name="email" type="text" required />
        <label> Email</label>
        <i class="bx bxs-user"></i>
      </div>
      <div class="input-box">
        <input name="password" type="Password" required />
        <label>Password</label>
        <i class="bx bxs-lock-alt"></i>
      </div>
      <div class="forget-section">
        <a href="{% url 'email_Link' %}">Forget Password?</a>
      </div>
      <button class="acc_btn">Sign in</button>
      <div class="account-creation">
        <span
          >Don't have an account ?
          <a href="#" class="RegisterLink">Register</a></span>
      </div>
    </form>

    <!-- Register Form -->
    <form class="RegisterForm" method="POST" action="{% url 'register' %}">
      {% csrf_token %}
      {% include "base/alert.html" %}
      <h2>Register</h2>
      <div class="input-box">
        <input name="email" type="text" required />
        <label> Email</label>
        <i class="bx bxs-user"></i>
      </div>
      <div class="input-box">
        <input name="password" type="Password" required />
        <label>Password</label>
        <i class="bx bxs-lock-alt"></i>
      </div>
      <div class="input-box">
        <input name="confirm_password" type="Password" required />
        <label>Confirm Password</label>
        <i class="bx bxs-lock-alt"></i>
      </div>
      <button class="acc_btn">Sign up</button>
      <div class="account-creation">
        <span
          >Already have an account ?
          <a href="#" class="LoginLink">Login</a></span>
      </div>
    </form>
  </div>
</div>

<script>
  const LoginForm = document.querySelector(".LoginForm");
  const RegisterForm = document.querySelector(".RegisterForm");
  const RegisterLink = document.querySelector(".RegisterLink");
  const LoginLink = document.querySelector(".LoginLink");

  RegisterLink.onclick = () => {
    RegisterForm.classList.add("active");
    LoginForm.classList.add("active");
  };
  LoginLink.onclick = () => {
    RegisterForm.classList.remove("active");
    LoginForm.classList.remove("active");
  };
</script>

{% endblock %}