{% extends "base/base.html" %} 

{% block head %}
<style>
 .h2, .section-title{
  color: white !important;
  margin-top: 70px;
 }

 .section-text{
  color: white !important;
 }

 .view-more-btn{
  display:inline;
  position: relative;
  left: 45%;
  padding: 10px 50px 10px 50px !important;
 }

 .card-text{
  font-size:var(--fs-6) !important; 
 }
</style>


{% endblock head %} 
{% block body %}
<section class="popular" id="destination">
    <div class="container">

      <h2 class="h2 section-title">Popular destination</h2>

      <p class="section-text">
        Fusce hic augue velit wisi quibusdam pariatur, iusto primis, nec nemo, rutrum. Vestibulum cumque laudantium.
        Sit ornare
        mollitia tenetur, aptent.
      </p>
      <ul class="popular-list">
        {% for destination in destinations %}
        <li>
          <div class="popular-card">

            <figure class="card-img">
              <img src="/media/{{destination.gallery.first.image}}" alt="San miguel, italy" loading="lazy">
            </figure>

            <div class="card-content">

              <div class="card-rating">
                {% load range_tags %}
                {% if destination.rating <= 5 %}
                  {% for i in destination.rating|floatformat:0|range_filter %}
                      <ion-icon name="star"></ion-icon>
                  {% endfor %}
                {% endif %}
              </div>

              <p class="card-subtitle">
                <a href="{% url 'get_destination' destination.slug %}">{{destination.location}}</a>
              </p>

              <h3 class="h3 card-title">
                <a href="{% url 'get_destination' destination.slug %}">{{destination.destination_name}}</a>
              </h3>

              <p class="card-text">
                {{destination.description}}
              </p>

            </div>

          </div>
        </li>
        {% endfor %}

      </ul>

      <a class="view-more-btn btn btn-primary">View More</a>

    </div>
  </section>

{% endblock %}